.header {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 1.5rem 1rem;
    align-items: center;
    gap: 2rem;
    background-color: var(--blanco);
}

@media (min-width: 768px) {

    .header {
        padding: 2rem 3rem;
      border-bottom: 1px solid var(--grisClaro);
    }

}

.logo {
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
}

@media (min-width: 768px) {

    .logo {
        font-size: 3rem;
    }
}

a {
  color: var(--negro);
}

.logo span {
    color: var(--primario);
}

.items {

}

@media (min-width: 768px) {

    .items {
        display: unset;
    }

}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    display: inline-block;
    margin-right: 1.2rem;
}

/**/

.desktop-search {
  display: none;
}

@media (min-width: 768px) {

  .desktop-search {
    display: unset;
  }

}

.desktop-search {
  flex-grow: 1;
  text-align: center;
}

/**/

.mobile-search {
  display: unset;
}

@media (min-width: 768px) {

  .mobile-search {
    display: none;
  }

}
