.header-404 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid var(--grisClaro);
}

@media (min-width: 768px) {

  .header-404 {
    padding: 2rem 3rem;
  }

}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
}

@media (min-width: 768px) {

  .logo {
    font-size: 3rem;
  }
}

.logo span {
  color: var(--primario);
}
