* {
  /*outline: 1px solid red;*/
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 768px) {

  .movie-grid {
    justify-content: unset;
  }

}

.results {
}

h2 {
  font-size: 2.3rem;
  margin: 2rem 0;
  font-weight: 500;
}

@media (min-width: 768px) {

  .results {
    text-align: unset;
  }

  h2 {
    font-size: 2.5rem;
  }

}
