* {
  /*outline: 1px solid red;*/
}

.movie-grid-container {
  display: flex;
  justify-content: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

}

@media (min-width: 768px) {

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
  }

}

.results {
}

h2 {
  font-size: 2.3rem;
  margin: 2rem 0;
  font-weight: 500;
}

@media (min-width: 768px) {

  .results {
    text-align: unset;
  }

  h2 {
    font-size: 2.5rem;
  }

}
