* {
  /*outline: 1px solid #00DA55;*/
}

.movie-info {
  width: 90%;
  max-width: 130rem;
  margin: 4rem auto 0;
}

.movie {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {

  .movie {
    grid-template-columns: 2fr 2fr;
  }

}

.poster {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 0 auto;
}

.poster img {
  border: .3rem solid var(--primary);
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {

  .poster {
    width: 30rem;
  }

}

/* Texts */

.info {
  padding-top: 3rem;
  text-align: start;
}

@media (min-width: 768px) {
  .info {
    text-align: unset;
    padding-top: 0;
  }
}

.title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary);
}

.movie-general-info {
  margin: 3rem 0 .5rem 0;
  font-size: 1.8rem;
}

.text p {
  margin: 1rem 0 .5rem 0;
  font-size: 1.8rem;
}

.rated {
  background-color: var(--yellow);
  padding: .7rem;
  color: var(--white);
  margin-left: 1rem;
}

.language {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--black);
}

.language span {
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--primary);
}

@media (min-width: 768px) {

  .movie-general-info {
    margin: 1rem 0 .5rem 0;
  }

  .title {
    text-align: unset;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  .language span,
  .language {
    font-size: 2rem;
  }

  .text p,
  .movie-general-info{
    font-size: 2rem;
  }

}

/*Icons*/
i {
  margin-right: .5rem;
  color: var(--primary);
}

/* ratings, plot and language */

.ratings h3,
.plot h3,
.language h3 {
  margin-bottom: .5rem;
  color: var(--primary);
}

.plot div,
.language div {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .plot div,
  .language div {
    font-size: 2rem;
  }
}

.ratings ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ratings ul li{
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .ratings ul li{
    font-size: 2rem;
  }
}

/**/

.genre span,
.release,
.year span,
.boxOffice span,
.runtime span,
.actors span
{
  font-weight: 600;
}
