* {
  /*outline: 1px solid red;*/
}

.container {
  /*max-width: 100rem;*/
  /*width: 90%;*/
  padding-top: 2rem;
}

@media (min-width: 768px) {

  .container {
    padding-top: 5rem;
  }

}

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title span,
.type span,
.year span {
  font-size: 2rem;
  font-weight: 600;
}

.title,
.type,
.year {
  font-size: 2rem;
}

.info {
  padding: 0 2rem;
}

@media (min-width: 768px) {

  .movie {
    flex-direction: row;
    align-items: flex-start;
  }

  .info {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title span,
  .type span,
  .year span {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .title,
  .type,
  .year {
    font-size: 2.3rem;

    padding: 0;
    margin: 0;
  }

  .container {
    max-width: 100rem;
    width: 80%;
  }

}

/* Ratings */

.ratings {
  padding: 2rem 0 0;
}

.ratings h3 {
  display: inline;
}

.ratings ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
