<div class="container movie-info" *ngIf="movie">
  <div class="movie">
    <div class="poster">
      <img src="{{ movie.Poster }}"
           alt="poster"
           *ngIf="movie.Poster && movie.Poster !== 'N/A'">
      <img src="../../../assets/images/unknown.png"
           alt="poster"
           *ngIf="movie.Poster === 'N/A'">
      <div class="add-favorite text-center">
        <button class="btn btn-primary"
                *ngIf="!isAFavorite"
                (click)="addFavorite()"
        >
          Add to favorites
        </button>
        <button class="btn btn-danger"
                *ngIf="isAFavorite"
                (click)="removeFavorite()"
        >
          Remove to favorites
        </button>
      </div>
    </div>
    <div class="info">
      <div class="text">
        <span class="title" *ngIf="movie.Title !== 'N/A'">{{ movie.Title }}</span>

        <div class="movie-general-info">
          <span class="release">Release:</span> {{ movie.Released }} <span class="rated">Rated: {{ movie.Rated }}</span>
        </div>

        <p class="genre" *ngIf="movie.Genre !== 'N/A'"><span>Genre: </span>{{ movie.Genre }}</p>
        <p class="year" *ngIf="movie.Year !== 'N/A'"><span>Year: </span>{{ movie.Year }}</p>
        <p class="boxOffice" *ngIf="movie.BoxOffice !== 'N/A'"><span>Box Office: </span>{{ movie.BoxOffice }}</p>
        <p class="runtime" *ngIf="movie.Runtime !== 'N/A'"><span>Runtime: </span>{{ movie.Runtime }}</p>
        <p class="actors" *ngIf="movie.Actors !== 'N/A'"><span>Actors: </span>{{movie.Actors}}</p>
        <p class="awards" *ngIf="movie.Awards !== 'N/A'"><i class="fa fa-trophy"></i>{{ movie.Awards }}</p>
        <div class="plot" *ngIf="movie.Plot !== 'N/A'">
          <h3>Plot</h3>
          <div>
            {{ movie.Plot }}
          </div>
        </div>
        <div class="language" *ngIf="movie.Language !== 'N/A'">
          <h3>Language</h3>
          <div>
            {{ movie.Language }}
          </div>
        </div>
<!--        <p class="language" *ngIf="movie.Language !== 'N/A'"><span>Language: </span></p>-->
        <div class="ratings" *ngIf="movie.Ratings?.length">
          <h3>Ratings</h3>
          <ul>
            <li class="rating-item"
                *ngFor="let rating of movie.Ratings"
            >
              {{ rating.Source }} - {{ rating.Value }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
